@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    font-family: 'Roboto Mono', monospace;
}

body {
    background-color: #000000;

}

.container {
    background-color:rgba(121,117,119,0.51);
    border-radius: 20px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 750px;
    width: 420px;
    margin: 0 auto;
    margin-top: 50px;
    

}

.header {
    margin-top: 10px;
    margin-left: 10px;
    font-size: .8em;
}

.song-image {
    border-radius: 20px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    height: 400px;
    width: 400px;
    

}

.container .title-artist {
    text-align: center;
    
    
}

.song-artist {
    font-size: .8em;
    
}

.progress-bar {
    
    position: relative;
    text-align: center;
    border-radius: 20px;
    height: 10px;
    width: 415px;
    

}

#progress {
    width: 300px

}

label {
    display: block;
    font-size: .8em;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.controls {
    display: flex;
    justify-content:space-evenly;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 70px;
    margin-bottom: 10px;
   
    

}

    

.back-button {
   
    border-radius: 20px;
    color: #000000;
    font-size: .8em;
    height: 70px;
    width: 70px;
    text-align: center;
    line-height: 50px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    opacity: .5;
    

}

.back-button:hover {
    opacity: 1;
}

.play-button {
    border-radius: 20px;
    color: #000000;
    font-size: .8em;
    height: 70px;
    width: 70px;
    text-align: center;
    line-height: 50px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    opacity: .5;
    

}

.play-button:hover {
    opacity: 1;
}

.skip-button {
    border-radius: 20px;
    color: #000000;
    font-size: .8em;
    height: 70px;
    width: 70px;
    text-align: center;
    line-height: 50px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    opacity: .5;

}

.skip-button:hover {
    opacity: 1;
}

@media only screen and (max-width: 600px) {
    .container {
    height: 100vh;
    width: 100vw;
    margin: 0;
    border-radius: 0;
    }
    
    .song-image {
    height: 60vh;
    width: 100%;
    }
    
    .progress-bar {
    width: 90%;
    }
    
    label {
    margin-left: 0;
    margin-right: 0;
    }
    
    .controls {
    margin-top: 30px;
    }
    
    .back-button,
    .play-button,
    .skip-button {
    height: 50px;
    width: 50px;
    line-height: 30px;
    margin-top: 50px;
    margin-bottom: 0;
    }
    }
    
  